body {
    margin: 0 auto;
    max-width: 1140px;
    background-color: rgb(230, 228, 225);
}

header{
    margin: 20px;
}

header h1{
    font-size: 800;
    text-align: center;
    background-color: aliceblue;
    font-weight: bold;
}

.front{
    font-size: 20px;
    font-weight: bolder;
}

button{
    background-color: rgb(227, 231, 231);
    border-radius: 5px;
}
button:hover{
    background-color: aqua;
    cursor: pointer;
}

img{
    width: 30%;
    height: 300px;
}

.middle{
margin: 20px;
}
.anchor{
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}

.bottom{
   margin: 20px;
   font-size: 1em;
   font-weight: 400;
}
.submit{
    font-size: 1.01em;
    font-weight: bold;
    background-color: rgb(199, 206, 212);
    border-radius: 5px;
}
.submit:hover{
    background-color: lightpink;
}

.label{
    display: block;
    margin-bottom: 5px;
}